  html, body {
            height: 100%;
            margin: 0;
        }

body{

    text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-align: center;
}

#cont{
	position:relative;
	height: 100%;
}

#container{
	margin: auto;
}

.stuff{
	color: #FFF;
}

button{
	:hover: none;
	:visited:none;
	:link: none;
	:active: none;
	height: 30px;
	border: none;
	padding: !important;
	background: none;
}

h2{
	color: grey;
	padding-bottom: 15%;
}
